* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  padding: 1rem;
  text-align: center;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  padding: 0.5rem;
  width: 100%;
  color: white;
 background-color: black;
}
/* Navigation */
.nav {
  margin-top: 0;
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 0;
  line-height: 1rem;
  background-color: var(--black);
}

.hamburger {
  display: none;
}

.nav__center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav__logo {
  font-size: 2rem;
  color: var(--white);
}

.nav__logo span {
  color: black;
}

.nav__list {
  display: flex;
  align-items: center;
}

.sign {
  display: inline-block;
  font-size: 1.7rem;
  margin-right: 2rem;
  padding: 1.3rem 1.5rem;
  color: var(--black);
  background-color: var(--yellow);
}

.login:focus {
  outline: none;
}

.cart__icon {
  position: relative;
  cursor: pointer;
}

.cart__icon h2 {
  font-weight: 700;
  color: var(--orange);
}

.cart__icon span {
  position: absolute;
  top: -1rem;
  right: -2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--warn);
  color: var(--white);
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 50%;
}

#tea-menu {
  display: flex;
  overflow-x: auto;
  top: 50000000px;
  
  margin: 1rem 0;
  max-width: calc(100vw - 2rem);
}

#tea-menu img {
  flex: 0 1 auto;
  height: 150px;
  margin-right: 0.5rem;
  cursor: pointer;
}

#tea-menu img:last-child {
  margin-right: 0;
}

#tea-detail {
  position: relative;
}

.detail-image {
  height: 350px;
}

.name,
.restaurant {
  position: absolute;
  left: 10px;
  padding: 0.25rem 5rem 0.25rem 1rem;
  background-color: rgba(255, 255, 255, 0.8);
}

.name {
  bottom: 60px;
}

.restaurant {
  bottom: 20px;
}

form {
  margin: 1rem 0;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input,
textarea {
  font-size: 1rem;
  background: transparent;
  color: black;
  resize: none;
  border: 0 none;
  margin: 0.25rem 0;
  width: 100%;
}



input[type="submit"] {
  color: white;
  border: 1px solid white;
  background-color: black;
  cursor: pointer;
  transition: all 0.3s;
}

input[type="submit"]:active {
  background-color: gray;
}

form h4 {
  width: 100%;
  padding: 0.25rem;
  margin: 0.5rem 0;
  color: white;
  background-color: black;
}

/* Cart */
.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  z-index: 2;
}

.cart {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  width: 60%;
  height: 80%;
  padding: 1.6rem;
  border-radius: 2rem;
  z-index: 3;
  overflow-y: scroll;
  background-color: var(--grey2);
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease-in-out;
}

.cart.show {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
}

.cart-overlay.show {
  visibility: visible;
}

.close__cart {
  cursor: pointer;
}

.close__cart svg {
  fill: var(--black);
  transition: all 300ms ease-in-out;
}

.close__cart:hover svg {
  fill: var(--warn);
}

.cart svg {
  width: 1.8rem;
  height: 1.8rem;
}

.cart h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.cart__item svg {
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--orange);
}

.cart__item {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  width: 70%;
  margin: 2rem auto;
}

.cart__item div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart__item div span {
  cursor: pointer;
}

.cart__item img {
  width: 9.5rem;
  height: 9.5rem;
}

.cart__item h3 {
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.cart__item .price {
  color: var(--orange);
  font-weight: 700;
}

.cart__item p {
  font-weight: 700;
}

.cart__item .remove__item {
  cursor: pointer;
}

.cart__item .remove__item svg {
  fill: var(--warn);
}

@media only screen and (max-width: 1350px) {
  .cart__item {
    width: 100%;
  }
}

@media only screen and (max-width: 996px) {
  .cart__item {
    grid-template-columns: 1fr 2fr 0.5fr 0.5fr;
  }

  .cart__item h3 {
    font-size: 1.7rem;
  }

  .cart__item .remove__item svg {
    width: 1.6rem;
    height: 1.6rem;
  }

  .cart__item img {
    width: 7.5rem;
    height: 7.5rem;
  }
}

.cart__footer {
  text-align: center;
  margin-bottom: 3rem;
}

.cart__footer h3 {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.cart__footer .btn {
  display: inline-block;
  padding: 1.5rem 3rem;
  font-size: 2rem;
  background-color: var(--orange);
  border: none;
  margin-top: 2rem;
}

.cart__footer .btn:focus {
  outline: none;
}

@media only screen and (max-width: 567px) {
  .cart {
    width: 100%;
    height: 100%;
    border-radius: 0rem;
  }

  .cart__item h3 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  .btn {
    padding: 0.8rem 1.5rem;
    font-size: 1.6rem;
  }
}
#btn{
  background: #fff;
  color: dodgerblue;
  border: solid 1px rgb(97, 132, 167);
  cursor: pointer;
  transition:  all .38s ease-in-out;
  width: 100%;
  padding: 1rem 2rem;
   font-weight: bold;
  font-size: 1.1rem;
  border: none;
   border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
}
#btn:hover{
background: dodgerblue;
  color: #fff;
}